header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 55px;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background-color: #f5f2f0;
}

header > a,
nav a {
  color: #606060;
  font-weight: 600;
}

header > a {
  font-size: 18px;
  border-bottom: 2px solid transparent;
}

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

nav a {
  background: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
}

nav a:hover,
nav a:focus,
nav a:active {
  background: #fff;
  border: 0;
}
